<%- include('partials/header') %>

<div class="container_two">
  <div class="navbar-custom">    
    <button class="navbar-child-two" id="homeHome">Home</button>
    <button class="navbar-child-two" id="homeLogin">Login</button>
    <button class="navbar-child-two" id="homeSignup">Sign-Up</button>            
  </div>


    <div class="container_two_one">
        <h3 class="welcome">Welcome to the contact saver</h3>
        <p class="welcome_p">Saves your contacts for you easily, with easy access to all of it!</p>

        <h3 class="create-aza">Login to account</h3>
    </div>
    <div class="container_two_two">
        <div class="one">
            <h1 class="text">Login</h1>
        </div>
        <form id="loginForm" action="/login" method="post">
          <%- include('partials/messages') %>
            <div class="two">
                <input type="email" placeholder="email" name="email" id="email">
            </div>
            <div class="three">
                <input type="text" placeholder="password" name="password" id="password">
            </div>
            <div class="four">
                <a class="text_sub" href="#">Forget password</a>
            </div>
            <div class="five">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

<script>
    async function login() {
  const email = document.getElementById("email").value;
  const password = document.getElementById("password").value;

  // Send login request to the server
  const response = await fetch("http://localhost:5003/login", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ email, password }),
  });

  if (response.ok) {
    const data = await response.json();

    // Store the token in local storage
    localStorage.setItem("token", data.token);

    // Redirect or perform other actions as needed
    console.log("Login successful");
  } else {
    console.error("Login failed");
  }
}

</script>

<%- include('partials/footer') %>