<%- include('partials/header') %>

<div class="container_two">
    <div class="navbar-custom">    
        <button class="navbar-child-two" id="homeHome">Home</button>
        <button class="navbar-child-two" id="homeLogin">Login</button>
        <button class="navbar-child-two" id="homeSignup">Sign-Up</button>            
      </div>


    <div class="container_two_one">
        <h3 class="welcome">Welcome to the contact saver</h3>
        <p class="welcome_p">Saves your contacts for you easily, with easy access to all of it!</p>

        <h3 class="create-aza">Contacts</h3>
    </div>
    <div class="container_two_two">
        <div class="contact_one">
            <div class="one">                
                <button class="btn btn-primary" id="createContact">Create Contact</button>
            </div>
            <div class="two">                
                <button class="btn btn-primary" id="fetchContacts">Fetch Contacts</button>
            </div>
        </div>
        <div class="contact_two">
            <div class="one">                
                <button class="btn btn-primary" id="getContact">Get Contact</button>
            </div>
            <div class="one">                
                <button class="btn btn-primary" id="updateContact">Update Contact</button>
            </div>
            <div class="one">                
                <button class="btn btn-primary" id="deleteContact">Delete Contact</button>
            </div>
        </div>            
    </div>
</div>

<%- include('partials/footer') %>