<%- include('partials/header') %>

<div class="container_two">
    <div class="container_two_one">
      <h3 class="welcome">Welcome to the contact saver</h3>
      <p class="welcome_p">
        Saves your contacts for you easily, with easy access to all of it!
      </p>
  
      <h3 class="create-aza">Create contact</h3>
    </div>
    <div class="container_two_two">
      <!-- <div class="one">
        <h1 class="text">Register</h1>
      </div> -->
      <form action="/create-contact" method="post">
        <div class="two">
          <input type="text" placeholder="name" name="name" required />
        </div>
        <div class="two">
          <input type="text" placeholder="email" name="email" required />
        </div>
        <div class="three">
          <input type="text" placeholder="phone" name="phone" id="pass"/>
        </div>
        
        <div class="five">
          <button type="submit" class="btn btn-primary">
            Create contact
          </button>
        </div>
      </form>
    </div>
  </div>

<%- include('partials/footer') %>