<%- include('partials/header') %>
    <div class="container fetch-container" >
        <div class="contact-list">Contact Lists</div>
        <div class="row">
            <div class="col contact-head">Name</div>
            <div class="col contact-head">Email</div>
            <div class="col contact-head">Phone No</div>
        </div>
        <div class="row">
            <div class="col contact-head">daniel</div>
            <div class="col contact-head">daniel@gmail.com</div>
            <div class="col contact-head">1234567</div>
        </div>
        <div class="row">
            <div class="col contact-head">emeka</div>
            <div class="col contact-head">emeka@gmail.com</div>
            <div class="col contact-head">1234567</div>
        </div>
        <div class="row">
            <div class="col contact-head">chima</div>
            <div class="col contact-head">chima@gmail.com</div>
            <div class="col contact-head">1234567</div>
        </div>
    </div>
<%- include('partials/footer') %>
