html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: purple;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_two {
  height: 70vh;
  width: 50vh;
  /* background-color: green; */
  box-shadow: 0 9px 19px rgb(0 0 0 / 0.9);
}

.fetch-container {
  height: 100vh;
}

.contact-list {
  font-size: 2rem;
  background-color: white;
  color: purple;
  margin-bottom: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.contact-head {
  font-size: 1.5rem;
}

.container_two_one {
  height: 50%;
  width: 100%;
  background-color: rgb(73, 26, 73);
  position: relative;
}

input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.welcome {
  padding-left: 3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 75px;
}

.welcome_p {
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1rem;
  position: absolute;
  top: 120px;
}

.create-aza {
  display: flex;
  /* justify-content: end; */
  /* align-items:start; */
  position: absolute;
  left: 40px;
  bottom: 10px;
}

.container_two_two {
  height: 50%;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.text {
  font-size: 2rem;
  color: black;
}

.four {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.text_sub {
  font-size: 1rem;
  color: black;
}

.contact_one {
  display: flex;
  justify-content: space-between;
}
.contact_two {
  display: flex;
  justify-content: space-between;
}

.row {
  border: 2px solid white;
  margin-top: 0.5rem;
}

.navbar-custom {
  display: flex;
  width: 100%;
  height: 4.5rem;
  background-color: purple;
  border: 2px solid white;
}

.navbar-child {
  width: 20%;
  background-color: rgb(70, 5, 70);
  margin: 0.03rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border: 2px solid white;
  color: white;
}

.navbar-child-two {
  width: 33.33%;
  background-color: rgb(70, 5, 70);
  margin: 0.03rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border: 2px solid white;
  color: white;
}